.header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.primary_header{
    font-size: 22px;
    color: purple
}

.secondary_header{
    font-size: 18px;
}

.list{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}